<!DOCTYPE html>
<html>
<head>
    <title>Projects Overview</title>
    <style>
      table,
      th,
      td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
</head>
<body>
    <h1>Projects Overview</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Client</th>
            <th>Department ID</th>
        </tr>
        {% for project in projects %}
        <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.client }}</td>
            <td>{{ project.department_id }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
